        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


              html {
            background-color: #37474F;
            font-family: "Nunito", sans-serif;
             }
             
            fieldset {
            background: #546E7A;
            font-family: "Nunito", sans-serif;
            position: fixed;
            }
            
            h1 {
            text-align: left;
            font-family: "Nunito", sans-serif;
            font-size: 30px;
            color: #ECEFF1;
            }
            
            button {
            background-color: #7C4DFF;
            text-align: center;
            font-size: 18px;
            padding: 24px;
            margin-top: 20px;
            border-radius: 15px;
            }
        